<form id="addClient">
	<label>Фамилия: <input type="text" name="first_name" id="description"></label>
	<label>Имя: <input type="text" name="second_name" ></label>
	<label>Отчество: <input type="text" name="last_name" id="description"></label>
	<label>Компания: <input type="text" name="organisation" ></label>
	<label>Адрес: <input type="text" name="address" id="description"></label>
	<label>Телефон: <input type="text" name="phone" ></label>
	<input id="hidden_id" type="hidden">
	<input class="button" type="submit" value="Добавить">
</form>