<form id="createPriceListElement">
	<label>Услуга: <input type="text" name="description" id="description"></label>
	<label>Цена: <input type="text" name="price" id="price"></label>
	<input id="hidden_id" type="hidden">
	<input type="submit" value="Добавить">
</form>