<section class="services_list">
<% for item in @data[:services] %>
	<div class="service">
		<p><%=item[1]%></p>
		<a class="button" href="/services/<%=item[0]%>">Редактировать</a>
		<button class="delete" onclick="deleteElement(<%=item[0]%>, '/services/');">Удалить</button>
		<span><%=item[2]%></span>
	</div>
<% end %>
</section>
